* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

header {
  background-color: #255ee9;
  padding-top: 1rem;
}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

main {
  padding-top: 50px;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: #23272a;
  padding-top: 6px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.title, .subtitle {
  font-weight: 500;
  line-height: 150%;
  color: white;
  text-align: center;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.bg {
  background-color: white;
  padding: 0px;
}

.nav-links,
.nav-logo,
.nav-login {
  color: white;
  padding: 0.5rem;
}

.nav-logo,
.nav-login {
  min-width: 150px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-login {
  text-align: right;
}

.login-button {
  color: ;
  background-color: white;
  padding: 0px 5px;
  border-radius: 5px;
}

.hero-section {
  background-image: url(../img/jumbo.png) ;
  background-size: cover;
  padding: 2rem 0;
}

.hero-section .container {
  max-width: 680px;
  min-height: 300px;
}

.row {
  display: flex;
}

.col-large-1,
.col-small-1 {
  display: inline-block;
  min-height: 300px;
  flex-grow: 3;
}

.col-large-1 {
  padding-right: 40px;
  width: 60%;
}

.col-small-1 {
  padding-left: 40px;
  width: 40%;
  font-size: larger;
}

.bg-2 {
  display: inline-block;
  max-width: 980px;
  background-color: #dbdbdb;
}

.row-2 {
  background-color: #dbdbdb;
}

.section-2 {
  background-color: #dbdbdb;
}

.container-2 {
  max-width: 980px;
  min-height: 300px;
  margin: 0 auto;
}

.col-large-2,
.col-small-2 {
  min-height: 300px;
}

.col-large-2 {
  width: 60%;
  background-image: url(../img/item2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.col-small-2 {
  width: 40%;
  font-size: larger;
}

.p-title {
padding-top: 35px;
}

.paragraph-1 {
  padding-top: 30px;
}

.waves {
  height: 200px;
  display: flex;
}

.wave-1 {
  padding-top: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  opacity: 0.14;
  display: flex;
}

.wave-2 {
  padding-top: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  opacity: 0.14;
  transform: rotate(180deg);
}

.section-2 .container-2 {
  max-width: 680px;
  height: 300px;
}

.paragraph {
  font-size: larger;
  width: 40%;
}

.box-green {
  min-height: 500px;
  background-color: #228b22;
}

footer .col {
  border: 1px dashed white;
  flex-grow: 1;
  background-color: #20b2aa;
  min-height: 300px;
}

footer .col-large {
  width: 15%;
  background-color: #f08080;
  border-color: black;
}

footer hr {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.secondary-footer {
  background-color: #7fffd4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo,
.footer-btn {
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #FFB6C1;
}
